/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// // Profile
// .profile {
//   flex: 1 1 30%;
//   max-width: 30%; /* Prevents the profile from becoming too wide */
//   margin-top: 0; /* Aligns top of profile with post header */

//   img {
//     width: 100%;
//   }
// }

.profile {
  flex: 0 0 30%; // Fixed width for the profile section
  max-width: 30%; // Ensures it doesn't grow beyond 30%
  margin-left: auto; // Pushes the profile to the right

  img {
    width: 100%;
    height: auto;
    display: block; // Removes any extra space below the image
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
